<!DOCTYPE html>
<html lang="es">
<body>
    <%- include('../partials/head.ejs')%>
    <%- include('../partials/header.ejs')%>
    <div class="editor-creador">
        <div class="creador">
            <h2>Crear un producto</h2>
            <br>
            <form action="/productos" method="POST" enctype="multipart/form-data">
            <ul class="lista-crear">
                <li><input required type="text" name="nombre" placeholder="Nombre del producto"></li>   
                <br>
                <li><input required type="text" name="descripcion" placeholder="Descripcion"></li>      
                <br>
                <li><input required type="text" name="marca" placeholder="Marca"></li>  
                <br> 
                <li><input required type="text" name="modelo" placeholder="Modelo"></li>  
                <br> 
                <li><input required type="text" name="precio" placeholder="Precio"></li>   
                <br>
                <li><select required name="clase">
                    <option value="" disabled selected hidden>Seleccione Clase</option>
                    <% for (let clase of clases) {%>
                    <option value="<%= clase.id %>"><%= clase.nombre %> </option>
                    <% } %>
                </select></li>
                <br>
                <li ><input type="file" multiple name="image"></li>
                <br>
                <hr style="color: white; border-top:1px ; margin-bottom: 1px ;">
                <li><input type="submit" value="Crear">  <input type="reset" value="Borrar"></li>
            </ul>
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>
</body>
</html>