<!DOCTYPE html>
<html lang="en">
   <%- include('../partials/head.ejs')%> 
<body>
    
    <%- include('../partials/header.ejs')%>
     <br>
    <br>
    <div class="contenedor-producto1">
        <h1 style="color: white; text-align: center;">Información detallada</h1>
        <h2 style="color: white; text-align: center; padding-top: 3vw;">Aquí podrás echar un vistazo a los componentes de este producto </h2>
      </div>
    <section class="detalle-producto">

        <div class="contenedor-producto">
            <img class="imagen-producto" src="/images/<%= product.imagen %>" alt="placa" />
            <span class="titulo-producto"><%= product.nombre %></span>
            <span class="precio-producto"><%= product.precio %></span>
            <span class="descripcion-producto"><%= product.descripcion %></span>
            </div>
      </section>
      <a href="/productos/<%= product.id %>/edicion"><button> Editar producto(Admin)</button></a>
      <a href="/productos/<%= product.id %>"><button>Borrar Producto(Admin)</button></a>
    <section>
        <br>
        <br>
        <a href="/"><button type="button">Volver al inicio</button></a>
    <a href="/carrito"><button type="button">agregar al carrito</button></a>
    </section> 
    

    <%- include('../partials/footer.ejs')%>
</body>
</html>