<!DOCTYPE html>
<html lang="en">
   <%- include('../partials/head.ejs')%> 
<body>
    
    <%- include('../partials/header.ejs')%>
     <br>
    <br>
    <div class="contenedor-producto1">
        <h1 style="color: white; text-align: center;">Información detallada</h1>
        <h2 style="color: white; text-align: center; padding-top: 3vw;">Aquí podrás echar un vistazo a los componentes de este producto </h2>
      </div>
    <section class="detalle-producto">

        <div class="contenedor-producto">
            <img class="imagen-producto" src="/images/<%= productos.imagenes_producto[0].nombre_imagen %>" alt="placa" />
            <span class="titulo-producto"><%= productos.nombre %></span>
            <span class="precio-producto"><%= productos.precio %></span>
            <span class="precio-producto"><%= productos.modelo %></span>
            <span class="descripcion-producto"><%= productos.descripcion %></span>
            </div>
      </section>
      <% if(user != undefined ){if(user.rol===2){%>
      <a href="/productos/<%= productos.id %>/edicion"><button> Editar producto(Admin)</button></a>
      
      
        <form method="POST" action="/productos/delete/<%= productos.id %>?_method=DELETE">
          <button onclick="confirm('Quieres borrar este item?');" type="submit">Borrar Producto(Admin)</button>
         </form>
         <% }} %>
    <section>
        <br>
        <br>
        <a href="/"><button type="button">Volver al inicio</button></a>
    <a href="/carrito"><button type="button">agregar al carrito</button></a>
    </section> 
    

    <%- include('../partials/footer.ejs')%>
</body>
</html>