<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
<body>
    
    <%- include('../partials/header.ejs')%>
    <br>
    <br>
    <main>
        <div class="lista-general">
            <div class="barra-filtros" style="color: azure;">
                <ul>
                    <li>
                        <span>Placas de video</span>
                    </li>
                    <li>
                        <span>Motherboards</span>
                    </li>
                    <li>
                        <span>Memorias ram</span>
                    </li>
                    <li>
                        <span>Procesadores</span>
                    </li>
                    <li>
                        <span>Cables</span>
                    </li>
                    <li>
                        <span>Fuentes</span>
                    </li>
                </ul>
            </div>
            <% if(user != undefined ){if(user.rol===2){%>
            <a href="/productos/creacion"><button>Crear Producto(Admin) </button></a>
            <% }} %>
        <section class="homesection-producto">
            
            <% for(let product of productos){ %>
            <a href="/productos/detalle/<%= product.id %>"><article class="homearticulo-producto">


                <div class="card" style="width: 18rem;">
                    <img src="/images/<%= product.imagenes_producto[0].nombre_imagen %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= product.nombre %></h5>
                      <p class="card-text"><%= product.descripcion %></p>
                      <a href="#" class="btn btn-primary">Detalle</a>
                    </div>
                </div>


                <!-- <img class="home-producto" src="/images/<%= product.imagenes_producto[0].nombre_imagen %>" alt="Producto">
                <div class="home-descripcion">
                    <p class="nombre"><%= product.nombre %></p>
                    <p class="descripcion"><%= product.descripcion %></p>
                    <p class="precio"><%= product.imagen %></p>
                    <p class="envio">Envio gratis</p>
                </div> -->



                
            </article></a>
            <% } %>
        </section>
    </div>
    </main>
    <%- include('../partials/footer.ejs')%>
</body>
</html>