<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs')%>
<body>
    
    <%- include('../partials/header.ejs')%>
    <br>
    <br>
    <main>
        <div class="lista-general">
            <% if(user != undefined ){if(user.rol===2){%>
            <a href="/productos/creacion"><button>Crear Producto(Admin) </button></a>
            <% }} %>
        <section class="homesection-producto">  
            <% for(let product of productos){ %>
            <a  class="linkProductos" href="/productos/detalle/<%= product.id %>">
                <div class="homearticulo-producto">
                <div class="contenedorImagen">
                    <img class="home-producto" src="/images/<%= product.imagenes_producto[0].nombre_imagen %>" alt="Producto">
                </div>
                <div class="home-descripcion">
                    <p class="nombre"><%= product.nombre %></p>
                    <p class="descripcion"><%= product.descripcion %></p>
                    <p class="img"><%= product.imagen %></p>
                </div> 
                </div>
            </a>
            <% } %>
        </section>
    </div>
    </main>
    <%- include('../partials/footer.ejs')%>
</body>
</html>