<!DOCTYPE html>
<html lang="en">
<body>
    <%- include('../partials/head.ejs')%>
    <%- include('../partials/header.ejs')%>
    <main class="userHome">
        <div>
            <div>
                <ul class="profileList">
                    <li><img class="profileImg" src="/images/<%= user.img %>" alt="Imagen de usuario"></li>
                    <li><%= user.nombre + " " + user.apellido %></li>
                    <li><%=user.email%></li>
                    <li><%=user.rol%></li>
                </ul>
                <form method="POST" action="/users/delete/<%= user.id %>?_method=DELETE">
                    <button onclick="confirm('Quieres borrar tu usuario?');" type="submit">Borrar Usuario</button>
                </form>
                <a href=""><button>Editar usuario</button></a>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>
</body>
</html>